# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.env.production

# Backend
backend/vendor/
backend/.env
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/

# General
*.log
.DS_Store
Thumbs.db
